@charset "UTF-8";

nav{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
nav > a{
    border: 1px solid black;
    margin-left: 10px;
    padding: 10px;
    border-radius: 30px;
}

form{
    padding: 20px;
    border: 3px solid black;
    border-radius: 30px;
}

article {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 16px;
    margin: 10px;
    background-color: #1e1e1e;
    color: white;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pontosDescarte{
    display: block;
}
@media only screen and (max-width: 920px) {
    section {
        display: grid;
    }
}